<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:replace="~{my-head :: my-head}">This is header</div>
    
    <div>
    
        <h1>Demo Selection Expression Page</h1>

        <div th:object="${person}">
            <p>Hello <span th:text="*{name}"></span></p>
            <p>YOB <span th:text="*{yob}"></span></p>
            <p>Weight <span th:text="*{weight}"></span></p>
            <p>Height <span th:text="*{height}"></span></p>
        </div>


        <a th:href="@{/demo}">Home</a> <br/>
        <a th:href="@{/demo-variable-expression}">demo-variable-expression</a> <br/>
        <a th:href="@{/demo-selection-expression}">demo-selection-expression</a> <br/> <br/>
        
    </div>

    <div th:replace="~{my-foot :: my-foot}"></div>
</body>
</html>